* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* converts the 10rem = 10px */
  html {
    font-size: 62.5%;
  }

  body{
    font-family: 'Architects Daughter', cursive, sans-serif;

    /* background-color:rgba(23, 26, 55, 1) */
  }

main,article,aside{
    font-family: 'Architects Daughter', cursive, sans-serif;
    font-size: 2rem;
}
a{
    color: white;
    text-decoration: none;
}

#navHead{
background-color: rgba(23, 26, 55, 1);
border-bottom: .11rem solid rgb(255, 165, 0);
}

nav{
min-height: 10vh;
padding: 2rem;
display: flex;
width: 90%;
margin: auto;
align-items: center;
flex-wrap: wrap;
}

nav ul{
display: flex;
flex: 1 1 40rem;
justify-content: space-around;
list-style: none;
align-items: center;
font-size: 1.8rem;
} 
#logo{
/* display: flex; */
text-align: start;
flex: 2 1 40rem;
color: orange;

}

.logos{
  filter: drop-shadow(0 10px 10px rgb(207, 211, 21));
}

footer{
min-height: 5vh;
color: whitesmoke;
background-color: rgba(23, 26, 55, 1);
border-top: .11rem solid rgb(255, 165, 0);
}

.footer-wrapper{
  display: flex;
  text-align: center;
  padding-top: 1rem;
}

.footer-wrapper h5{
flex: 1 1 40rem;
font-size: 1.5rem;
}
.footer-wrapper ul{
  flex: 1 1 40rem;
  list-style: none;

}

.contacts{
  display: flex;
  justify-content: space-evenly;
}

.linked-in{
  color: whitesmoke;
}

.bio-head{
/* background-color: rgba(23, 26, 55, 1); */
min-height: 85vh;

}
#tsparticles{
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* main{

} */
.bio-Info{
display: flex;
color: white ;
width: 90%;
margin: auto;
font-size: 2.5rem;
padding-bottom: 3rem;
}
.photo{
display: flex;
flex: 1 1 35rem;
align-items: flex-end;
}
.paragraph{
display: flex;
flex: 1 1 35rem;
flex-direction: column;
justify-content: center;
text-align: left;
}
.paragraph2{
  margin-top: 1.5rem;
}
/* #nameBio, 
#cert,
#programming{
  color: black;
background: rgb(164,186,44);
background: linear-gradient(90deg, rgba(164,186,44,1) 0%, rgba(244,241,8,1) 100%);
} */

#nameBio{
  background-color: rgba(23, 26, 55, 1);
}

.aside-container{
display: flex;
flex: 1 1 40rem;
flex-direction: column;
}

#photo{
border-radius: 50%;;
width: 15rem;
height: 15rem;
}

#aboutMe{
word-wrap: break-word;

}
.side-container{
display: flex;
flex: 1 1 40rem;
color: white;
}

.art{
position: absolute;
top: 0%;
right: 0%;
height: 15rem;   
}

.mount{
top: 65%;
left: 69%;
width: 15rem;
z-index: 1;
}

.sun{
    top: 65%;
    left: 80%;
    width: 8rem;
    height: 8rem;
    z-index: 0;
    animation: sunAnimation 8s infinite alternate linear;
    filter: drop-shadow(0 0 20px rgb(207, 211, 21));
    }

.cloud-1{
    top: 65%;
    left: 70%;
    width: 6rem;
    height: 5rem;
    z-index: 0;
    animation: cloudAnimation 4s infinite alternate ease-in-out;
    filter: drop-shadow(0 0 5px rgb(240, 240, 240));
    }
.cloud-2{
    top: 60%;
    left: 75%;
    width: 6rem;
    height: 5rem;
    z-index: 1;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
    filter: drop-shadow(0 0 5px rgb(240, 240, 240));
  }


@keyframes cloudAnimation {
  from {
    transform: translate(-40%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes sunAnimation {
    from {
      transform: translate(-90%,-90%);
    }
    to {
      transform: translate(20%, 20%);
    }
  }

/* card section */
.cards{
 /* background-color:rgba(23, 26, 55, 1) ; */
 min-height: 50vh;
 width: 90%;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 margin-top: 3rem;
}

.card img{
    max-width: 50%;
    margin: 2rem;
}

.card{
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    flex:2 1 25rem;
    margin: 2rem 5rem;
    min-height: 40vh;
    background-color:rgba(23, 26, 55, 1) ;
    box-shadow: 0px 10px 10px rgba(16, 30, 233, 0.5), 0px 20px 20px rgba(16, 30, 233, 0.3);
    border-radius: 15px;
    font-size: 1.5rem;
}

.links{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.github{
  color: rgb(83, 248, 97);
  
}

.chrome{
  color: rgb(248, 58, 58);
  
}

.title{
  text-decoration: underline;
}


/* Contact me section */

#contact{
  display: flex;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(23, 26, 55, 1);
}

.form-wrapper{
  background-color: rgb(255, 165, 0,0.8);
  width: 60%;
  border-radius: 15px;
  padding-bottom: 3%;
  box-shadow: 0px 10px 10px rgba(16, 30, 233, 0.5), 0px 20px 20px rgba(16, 30, 233, 0.3);
}

.form-head{
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

form{
  padding: 2rem;
  text-align: center;
}

.form-head h2{
margin-bottom: 1rem;
}
.form-icons{
  display: flex;
  justify-content: space-evenly;
}

.reason-form,
.name-form,
.email-form{
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.name-form label,
.email-form label,
.reason-form label{
 margin: 1rem;
 font-size: 1.6rem;

}

.reason-form textarea{
  min-height: 15rem;
  
 }

 .reason-form label{
align-items: flex-start;


}

.submit{
  width: 30%;
  border-radius: 15px;
  color: whitesmoke;
  background-color: rgba(23, 26, 55, 1);
  font-size: 2rem;
  padding: 1rem;
  margin-left: 8rem;
  cursor: pointer;
  border: none;
}

button:hover {
  background: rgb(131, 142, 248);
}

.errors{
  color: rgb(7, 7, 7);
  background-color: red;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;

}

.feedback{
  color: rgb(3, 88, 3);
  font-size: large;
}

/* resume section */
.resume-head{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 26, 55, 1);
  
}

.resume-wrapper{
  height: 80%;
  width: 70%;
  box-shadow: 0px 10px 10px rgba(46, 60, 250, 0.5), 0px 20px 20px rgba(16, 30, 233, 0.5);
}


.topics{
  color: orange;
  /* font-size: 1rem; */
  padding-top: .5rem;
}


.callOut{
  text-decoration: underline;
  font-size: 2rem;
  color: rgb(42, 41, 41);;
}

.iconC{
  color: rgb(42, 41, 41);;
}

.information{
  text-align: left;
  color: rgb(42, 41, 41);
}
@media screen and (max-width: 952px) {
    html {
        font-size: 55%;
      }

  nav{
    text-align: center;
 
  }
  #logo{
      padding: 1rem;
      color: orange;
      text-align: center;
    
  } 
  
  .mount{
    height: 10rem;
    width: 15rem;
    left: 60%;
  }
  .form-wrapper{
    width: 100%;
  }

  .resume-wrapper{
    width: 100%;
  }

 

}

@media screen and (max-width: 414px) {

  html {
    font-size: 55%;
  }
  .bio-info{
    display: flex;
    flex-wrap: wrap;
   
}
 .side-container{
display: none;
 }
 .aside-container{
  
}

.bio-head{
 min-height: 83vh;
}

#main-container{
  align-items: center;
  /* flex-wrap: wrap;
  margin: auto;
  height: auto; */
  
}

 .photo{
    display: flex;
    flex: 1 1 20rem;
    align-items: flex-end;
    }

    .callOut{
      font-size: 1.5rem;
  
    }
    .bio-Info{
      font-size: 2.0rem;
     
      }

}